.idea/
target/
__pycache__/
venv/
.conda/
*.log
.env
.vscode/
tests/

python/scheduler/airflow-home/logs/
python/scheduler/airflow-home/airflow-webserver.pid
python/scheduler/airflow-home/dags/__pycache__/
python/scheduler/airflow-home/webserver_config.py
