.idea/
**/target/
!**/src/main/java/**/target/
__pycache__/
venv/
.conda/
*.log
.env

python/scheduler/airflow-home/logs/
python/scheduler/airflow-home/airflow-webserver.pid
python/scheduler/airflow-home/dags/__pycache__/
python/scheduler/airflow-home/webserver_config.py
