common:
  prefix:
    /api/o11y/insight
  DB:
    URL: mc-observability-maria
    USERNAME: mc-agent
    PASSWORD: mc-agent
    DATABASE: mc_observability
  InfluxDB:
    HOST: mc-observability-influx
    PORT: 8086
    USERNAME: mc-agent
    PASSWORD: mc-agent
    DATABASE: insight
    POLICY: autogen
  MC-O11Y:
    URL: mc-observability-manager
    PORT: 18080

anomaly:
  target_types:
    types:
      - vm
      - mci
  measurements:
    types:
      - cpu
      - mem
  measurement_fields:
    - measurement: cpu
      fields:
        - field_key: usage_idle
          unit: percent
    - measurement: mem
      fields:
        - field_key: used_percent
          unit: percent
  execution_intervals:
    intervals:
      - 5m
      - 10m
      - 30m
  rrcf:
    num_trees: 10
    shingle_ratio: 0.01
    tree_size: 1024
    anomaly_range_size: 2.5

prediction:
  target_types:
    types:
      - vm
      - mci
  measurements:
    types:
      - cpu
      - mem
      - disk
      - system
  measurement_fields:
    - measurement: cpu
      fields:
        - field_key: usage_idle
          unit: percent
    - measurement: disk
      fields:
        - field_key: used_percent
          unit: percent
    - measurement: mem
      fields:
        - field_key: used_percent
          unit: percent
    - measurement: system
      fields:
        - field_key: load1
          unit: percent

  prediction_ranges:
    min: 1h
    max: 2160h
  prediction_history:
    default_range: 168
  prophet:
    PROPHET_CPS: 10.0
    PROPHET_SPS: 10.0
    PROPHET_HPS: 0.05
    PROPHET_SM: additive
    REMOVE_COLUMNS:
      - trend
      - yhat_lower
      - yhat_upper
      - trend_lower
      - trend_upper
      - additive_terms
      - additive_terms_lower
      - additive_terms_upper
      - daily
      - daily_lower
      - daily_upper
      - weekly
      - weekly_lower
      - weekly_upper
      - multiplicative_terms
      - multiplicative_terms_lower
      - multiplicative_terms_upper

log_analysis:
  model:
    - provider: ollama
      model_name:
        - llama3.1:8b
        - mistral:7b
    - provider: openai
      model_name:
        - gpt-4o
        - gpt-4o-mini
        - gpt-3.5-turbo
  mcp:
    mcp_grafana_url: http://mc-observability-mcp-grafana:8000/sse
  system_prompt_first: |
    You are an assistant specialized in log retrieval and log exploration.
    To respond to user questions, select the appropriate tools and provide thoughtful and sincere answers. 
    If the question is in English, respond in English; if it's in Korean, respond in Korean.
    The current time is {current_time}.
  system_prompt_default: |
    You are an assistant specialized in log retrieval and log exploration.
    respond in Korean.
    Continue the conversation. The current time is {current_time}.