- name: Copy file to remote temp location
  raw: |
    scp -r -o StrictHostKeyChecking=no -P {{ target_port }} {% if target_sshkey_path | default('') | length > 0 %}-i {{ target_sshkey_path }} {% endif %}{{ input_file_path }} {{ target_user }}@{{ target_host }}:/tmp/temp_file_{{ request_id }}
  delegate_to: 127.0.0.1

- name: Move file to final location with proper permissions
  become: true
  become_method: sudo
  become_user: root
  vars:
    ansible_connection: ssh
    ansible_host: "{{ target_host }}"
    ansible_port: "{{ target_port }}"
    ansible_user: "{{ target_user }}"
    ansible_ssh_private_key_file: "{{ target_sshkey_path }}"
  raw: |
    mv -f /tmp/temp_file_{{ request_id }} {{ output_file_path }}
    chmod {{ output_file_chmod }} {{ output_file_path }}
    chown {{ output_file_owner }}:{{ output_file_group }} {{ output_file_path }}
