[Unit]
Description=M-CMP Observability Agent
Documentation=https://github.com/m-cmp/mc-observability
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
SuccessExitCode=143
User=mc-agent
ExecStart=/usr/lib/mc-agent/bin/java -jar /usr/bin/mc-agent/mc-agent --spring.profiles.active=prd --spring.config.import=file:/etc/mc-agent/application-prd.yml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=mixed
TimeoutStopSec=5
WorkingDirectory=/var/log/mc-agent/

[Install]
WantedBy=multi-user.target