project:
  version: 0.2.0

server:
  port: 18080

feign:
  okhttp:
    enabled: true
  client:
    config:
      default:
        connect-timeout: 5000
        read-timeout: 30000
      cb-tumblebug:
        connect-timeout: 5000
        read-timeout: 100000
  agent-manager:
    url: http://localhost:18081
  cb-tumblebug:
    url: ${TUMBLEBUG_URL:http://cb-tumblebug:1323}
    id: ${TUMBLEBUG_ID:default}
    pw: ${TUMBLEBUG_PW:default}
  cb-spider:
    url: ${SPIDER_URL:http://cb-spider:1024}
    id: ${SPIDER_ID:}
    pw: ${SPIDER_PW:}
  insight:
    url: ${INSIGHT_URL:http://mc-observability-insight:9001}
