<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mcmp.mc.observability.agent.monitoring.mapper.PluginMapper">
    <select id="getAllPlugin" resultType="PluginDefInfo">
        SELECT SEQ, NAME, PLUGIN_ID, PLUGIN_TYPE, OS, IS_INTERVAL FROM m_cmp_agent_plugin_def
    </select>
</mapper>