apache-airflow==2.8.4
mysqlclient==2.2.4
apache-airflow-providers-mysql==5.5.4
apache-airflow-providers-sqlite==3.7.1
apache-airflow-providers-ssh==3.10.1
apache-airflow-providers-imap==3.5.0
apache-airflow-providers-smtp==1.6.1
apache-airflow-providers-ftp==3.7.0
gusty==0.22.0
ipykernel==6.29.3
nbconvert==7.16.3
siuba==0.4.4
SQLAlchemy-Utils==0.41.2
yfinance==0.2.37
dag-factory==0.19.0
pyarrow==16.1.0
