# This workflow performs continuous integration (CI).
# This workflow will build the container image for amd64 arch. (as a basic build test)
name: Continuous Integration (CI)

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - ".gitignore"
      - "LICENSE"
      - "CODEOWNERS"
      - "docs/**"
      - "scripts/**"
      - "java-module/**"
      - "python/**"
      # - "assets/**"
      # - "scripts/**"
      # - "src/testclient/scripts/**"
      # - ".all-contributorsrc"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - ".gitignore"
      - ".git/**"
      - "CODE_OF_CONFUCT.md"
      - "CONTRIBUTING.md"
      - "LICENSE"
      - "README.md"

jobs:
  # The job key (i.e., ID) is "build-server-source-code"
  build-cb-spider-source-code:
    name: Build CB-Spider source code
    strategy:
      matrix:
        go-version: ["1.23.0"]
        os: [ubuntu-22.04]
        #os: [ubuntu-22.04, ubuntu-20.04, windows-2022, windows-2019]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{matrix.go-version}}
      - name: Build
        run: cd go/ && make

  # The job key is "build-server-container-image"
  build-cb-spider-container-image:
    # Job name is "Build a container image for cm-honeybee server"
    name: Build a container image for CB-Spider

    # This job runs on Ubuntu-latest (Ubuntu 22.04 LTS checked on 2023-12-13)
    # See https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners
    runs-on: ubuntu-22.04
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Build
        env:
          IMAGE_NAME: cb-spider_azure_monitoring
        run: cd go && make && cd cb-spider && docker build . --file Dockerfile --tag $IMAGE_NAME